.project-card {
    text-align: center;
    padding: 0; /* Đảm bảo không có khoảng cách dư xung quanh ảnh */
  }
  
  .slick-slide img {
    width: 100%;  /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
    height: auto; /* Giữ tỷ lệ ảnh */
    object-fit: cover; /* Cắt ảnh nếu cần thiết để lấp đầy không gian */
    border-radius: 8px; /* (Tùy chọn) Làm mềm các góc của ảnh */
  }
  
 /* Thêm vào trong file CSS của bạn (ví dụ: App.css) */
.slick-next{
    position: absolute;
    top: 0;
    right: 100px !important;
}